html {
  font-size: var(--font-size-base);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-primary-dark);
  background-color: var(--color-white);
}

/* Reset fonts for relevant elements */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


/* Links */

a {
  color: var(--color-primary-dark);
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

/* Horizontal rules */

hr {
  margin-top: var(--line-height-computed);
  margin-bottom: var(--line-height-computed);
  border: 0;
  border-top: 1px solid var(--color-primary-dark);
}

[role="button"] {
  cursor: pointer;
}