:root {
    --color-neutral-secondary-dark: #6B7676;
    --color-primary-accent: #0F69BD;
    --color-primary-accent-dark: #0E63B2;
    --color-primary-accent-light: #1E79CD;
    --color-secondary-accent: #E2F1FC;
    --color-secondary-accent-dark: #D4E3ED;
    --color-secondary-accent-light: #E8F4FD;
    --color-primary-dark: #131723;
    --color-secondary-dark: #464A5D;
    --color-tertiary-dark: #6F7585;
    --color-gray: #D1D5E6;
    --color-disabled: #C6CED2;
    --color-on-disabled: #A8ADAF;
    --color-white: #FFFFFF;
    --color-danger: #C03221;
    --color-danger-dark: #B12715;
    --color-success: #14994B;

    --font-family-base: 'Open Sans', sans-serif;
    --font-family-headings: 'Merriweather', serif;
    --font-size-base: 16px;
    --font-weight: 400;
    --font-size-headings: calc(var(--font-size-base) * 1.5);
    --font-size-semi-heading: calc(var(--font-size-base) * 1.125);
    --font-size-regular: var(--font-size-base);
    --font-size-small: calc(var(--font-size-base) * .875);
    --line-height-base: 1.36;
    --line-height-computed: calc(var(--font-size-base) * var(--line-height-base));

    --headings-font-family: var(--font-family-headings);
    --headings-font-weight: 700;
    --headings-line-height: 1.1;
    --headings-color: var(--color-primary-dark);

    --margin-base-small-screen: 1rem;
    --margin-base-regular-screen: 3.5rem;
}

