.button {
    display: inline-flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    text-transform: uppercase;
    border-radius: .25rem;
    border: 1px solid transparent;
}

.button.semi {
    padding: 0.5rem 1rem;
}
.button.large {
    padding: 1.0625rem 9.25rem 1.125rem 9.25rem;
}

.button:global(.primary) {
    background: var(--color-primary-accent);
    color: var(--color-white);
}

.button:global(.primary):hover {
    background: var(--color-primary-accent-light);
    box-shadow: 0 0 8px 0 rgba(7, 16, 19, 0.25);
}

.button:global(.primary):active {
    background: var(--color-primary-accent-dark);
}

.button:global(.primary):focus-visible {
    background: var(--color-primary-accent);
    box-shadow: 0 0 6px 0 #0000F6;
}

.button:global(.primary):disabled {
    background: var(--color-disabled);
    color: var(--color-on-disabled);
}

.button:global(.primary.outline) {
    border: 1px solid var(--color-primary-accent);
    background: var(--color-white);
    color: var(--color-primary-accent);
}

.button:global(.primary.outline):hover {
    border: 1px solid var(--color-primary-accent);
    background: var(--color-secondary-accent);
    color: var(--color-primary-accent-light);
    box-shadow: 0 0 8px 0 rgba(7, 16, 19, 0.25);
}

.button:global(.primary.outline):active {
    border: 1px solid var(--color-primary-accent);
    background: var(--color-secondary-accent-dark);
    color: var(--color-primary-accent);
}

.button:global(.primary.outline):focus-visible {
    border: 1px solid var(--color-primary-accent);
    background: var(--color-secondary-accent);
    color: var(--color-primary-accent);
    box-shadow: 0 0 6px 0 #0000F6;
}

.button:global(.primary.outline):disabled {
    background: var(--color-disabled);
    color: var(--color-on-disabled);
}