@media (min-width: 980px) {
    .header {
        margin: 0 var(--margin-base-regular-screen);
    }
}

@media only screen and (min-width: 0px) and (max-width: 979px) {
    .header {
        margin: 0 var(--margin-base-small-screen);
    }
}

.header {
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
    padding: 0.9375rem 0 1rem;
    flex-shrink: 0;
}

.header .logo {
    margin: auto 0;
}

.header :global .top-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
    margin: auto 1rem auto auto;
}

.header :global .top-menu li {
    padding: 0.25rem 0.5rem;
}

.header :global .top-menu li a {
    font-size: var(--font-size-headings);
    color: var(--color-tertiary-dark);
    text-decoration: none;
}

.header :global .top-menu li a:hover {
    text-decoration: none;
}

.header :global .top-menu li a:focus {
    text-decoration: none;
}

.header :global .top-menu li a.active {
    color: var(--color-primary-dark)
}


.header :global .user-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}