.card {
    display: flex;
}
.card.pinned {
    flex-direction: column;
}

.card .mainImage img {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: .5rem;
}
.card .mainImage {
    margin-right: 1.5rem;
}
.card.pinned .mainImage {
    margin-right: 0;
}

.card :global .details {
    width: 100%;
    display: flex;
    font-size: var(--font-size-small);
    color: var(--color-tertiary-dark);
}

.card :global .details .category {
    display: inline-flex;
    padding: 0.125rem 0;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-accent);
    font-weight: 600;
    line-height: normal;
}
.card :global .details .counters {
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
    margin-left: auto;
}
.card :global .details .comments {
    margin-left: auto;
    display: flex;
    gap: .125rem;
    align-items: center;
}

.card :global .details .comments img {
    height: 1rem;
    width: 1rem;
}

.card :global .details .views {
    display: flex;
    gap: .125rem;
    align-items: center;
}
.card :global .details .views img {
    height: 1rem;
    width: 1rem;
}

.card :global h3 {
    text-align: start;
}

.card :global .description {
    text-align: start;
}