.topMenu {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
    margin: auto 1rem auto auto;
}

.topMenu li {
    padding: 0.25rem 0.5rem;
}

.topMenu li a {
    font-size: var(--font-size-headings);
    color: var(--color-tertiary-dark);
    text-decoration: none;
}

.topMenu li a:hover {
    text-decoration: none;
}

.topMenu li a:focus {
    text-decoration: none;
}

.topMenu li a.active {
    color: var(--color-primary-dark)
}
